.userPhoto {
    max-width: 100%;
    margin-top: -70%;
    border-color: white;
    border-style: groove;
}

.userName {
/*    margin-top: -8%;*/
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8), 0px 0px 2px  rgba(0,0,0,1);
}

.userName-md {
    color: #1d2124;
    font-family: Helvetica, Arial, sans-serif;
}

.userPhotoCol {
    padding: 0;
/*    margin-left: 5%;*/
}

.contacts {
    color: #0c5460;
    padding-left: 5px;
}
